.navbar-nav .dropdown-menu {
  background: transparent;
  border: 0;
}

.navbar-nav .dropdown-menu a:last-child {
  border: 0;
}
.navbar-nav .dropdown-menu a {
  background-color: rgba(13, 109, 253, 0.919);

  padding: 8px 32px !important;
  border-bottom: 1px solid white;
  border-radius: 6px;
}

/* for extra small devices responsive start */
@media (min-width: 320px) and (max-width: 575.99px) {
  .navButtonIcon {
    color: #fff;
    font-size: 35px;
  }
  .navbarImg {
    width: 95%;
  }
  .navButtonToggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }
  .navbarColor {
    background-color: #1c1e53;
  }
  .navElement {
    gap: 7px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .contactBtn {
    font-weight: 400 !important;
    line-height: 28px;
    font-size: 16px !important;
    color: #fff !important;
    padding: 7px 36px;
    border-radius: 41px;
    border: 1px solid #fff;
  }
  .contactbuttonMain {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .navbar-collapse {
    flex-grow: 1;
    flex-basis: 100%;
    align-items: center;
    background: #ff9800;
    border-radius: 7px;
  }
  .navDropDownParent .dropdown-toggle {
    position: static;
    text-align: center;
  }

  .navButtonIcon {
    margin-bottom: 15px;
  }

  .navImagePrant {
    margin-bottom: 15px;
  }

  .dropdown-menu .navDropDownChild {
    text-align: center;
  }
  .navbar-nav .dropdown-menu a {
    background-color: rgba(13, 109, 253, 0.919);
    padding: 8px 17px !important;
    border-bottom: 1px solid white;
    border-radius: 6px;
  }
  .navElement a {
    color: #fff !important;
    font-weight: 400 !important;
    line-height: 28px;
    font-size: 16px !important;
  }
  .navElement a {
    color: #fff !important;
    font-weight: 400 !important;
    line-height: 28px;
    font-size: 16px !important;
  }
  .navMain {
    padding: 16px 0;
  }
  .navDropDownParent {
    background: transparent !important;
  }
}

/* for extra small devices responsive End */

/* for  small devices responsive start */

@media (min-width: 576px) and (max-width: 767.99px) {
  .navElement a {
    color: #fff !important;
    font-weight: 400 !important;
    line-height: 28px;
    font-size: 16px !important;
  }
  .navButtonIcon {
    color: #fff;
    font-size: 35px;
  }
  .navbarImg {
    width: 100%;
  }
  .navButtonToggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }
  .navbarColor {
    background-color: #1c1e53;
  }
  .navElement {
    gap: 7px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .contactBtn {
    font-weight: 400 !important;
    line-height: 28px;
    font-size: 16px !important;
    color: #fff !important;
    padding: 7px 36px;
    border-radius: 41px;
    border: 1px solid #fff;
  }
  .contactbuttonMain {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .navbar-collapse {
    flex-grow: 1;
    flex-basis: 100%;
    align-items: center;
    background: #ff9800;
    border-radius: 7px;
  }
  .navDropDownParent .dropdown-toggle {
    position: static;
    text-align: center;
  }

  .navButtonIcon {
    margin-bottom: 15px;
  }

  .navImagePrant {
    margin-bottom: 15px;
  }

  .dropdown-menu .navDropDownChild {
    text-align: center;
  }
  .navbar-nav .dropdown-menu a {
    background-color: rgba(13, 109, 253, 0.919);
    padding: 11px 25px !important;
    border-bottom: 1px solid white;
    border-radius: 6px;
  }
  .navMain {
    padding: 16px 0;
  }
  .navDropDownParent {
    background: transparent !important;
  }
}

/* for  small devices responsive End */
/* for  meduim devices responsive start */

@media (min-width: 768px) and (max-width: 991.99px) {
  .navButtonIcon {
    color: #fff;
    font-size: 35px;
  }
  .navbarImg {
    width: 100%;
  }
  .navButtonToggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }
  .navbarColor {
    background-color: #1c1e53;
  }
  .navElement {
    gap: 7px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .contactBtn {
    font-weight: 400 !important;
    line-height: 28px;
    font-size: 16px !important;
    color: #fff !important;
    padding: 7px 36px;
    border-radius: 41px;
    border: 1px solid #fff;
  }
  .contactbuttonMain {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .navbar-collapse {
    flex-grow: 1;
    flex-basis: 100%;
    align-items: center;
    background: #ff9800;
    border-radius: 7px;
  }
  .navDropDownParent .dropdown-toggle {
    position: static;
    text-align: center;
  }

  .navButtonIcon {
    margin-bottom: 15px;
  }

  .navImagePrant {
    margin-bottom: 15px;
  }

  .dropdown-menu .navDropDownChild {
    text-align: center;
  }
  .navbar-nav .dropdown-menu a {
    background-color: rgba(13, 109, 253, 0.919);
    padding: 11px 25px !important;
    border-bottom: 1px solid white;
    border-radius: 6px;
  }
  .navElement a {
    color: #fff !important;
    font-weight: 400 !important;
    line-height: 28px;
    font-size: 16px !important;
  }
  .navMain {
    padding: 16px 0;
  }
  .navDropDownParent {
    background: transparent !important;
  }
}

/* for  meduim devices responsive End */

/* for  large devices responsive start */
@media (min-width: 992px) and (max-width: 1199.99px) {
  .navElement a {
    color: #fff !important;
    font-weight: 400 !important;
    line-height: 28px;
    font-size: 16px !important;
  }
  .contactbuttonMain {
    margin-left: 32px;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    gap: 11px;
  }
  .contactBtn {
    font-weight: 400 !important;
    line-height: 28px;
    font-size: 16px !important;
    color: #fff !important;
    padding: 10px 35px;
    border-radius: 41px;
    border: 1px solid #fff;
  }
  .navbar-nav .dropdown-menu a {
    background-color: rgba(13, 109, 253, 0.919);
    padding: 8px 32px !important;
    border-bottom: 1px solid white;
    border-radius: 6px;
  }
  .navbarColor {
    background-color: #1c1e53;
  }
  .navMain {
    padding: 16px 0;
  }
  .navDropDownParent {
    background: transparent !important;
  }
}
/* for  large devices responsive end */

/* for Extra Large devices responsive start */
@media (min-width: 1200px) and (max-width: 1399.99px) {
  .navElement a {
    color: #fff !important;
    font-weight: 400 !important;
    line-height: 28px;
    font-size: 16px !important;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    gap: 32px;
  }
  .contactbuttonMain {
    margin-left: 48px;
  }
  .navbar-nav .dropdown-menu a {
    background-color: rgba(13, 109, 253, 0.919);
    padding: 8px 32px !important;
    border-bottom: 1px solid white;
    border-radius: 6px;
  }
  .navbarColor {
    background-color: #1c1e53;
  }
  .navMain {
    padding: 16px 0;
  }
  .navDropDownParent {
    background: transparent !important;
  }
  .contactBtn {
    font-weight: 400 !important;
    line-height: 28px;
    font-size: 16px !important;
    color: #fff !important;
    padding: 16px 48px;
    border-radius: 41px;
    border: 1px solid #fff;
  }
}

/* for Extra Large  devices responsive end */
/* for Extra  Extra Large devices responsive start */
@media (min-width: 1400px) {
  .navElement a {
    color: #fff !important;
    font-weight: 400 !important;
    line-height: 28px;
    font-size: 16px !important;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    gap: 32px;
  }
  .contactbuttonMain {
    margin-left: 48px;
  }
  .navbar-nav .dropdown-menu a {
    background-color: rgba(13, 109, 253, 0.919);
    padding: 8px 32px !important;
    border-bottom: 1px solid white;

    border-radius: 6px;
  }
  .navMain {
    padding: 16px 0;
  }
  .navDropDownParent {
    background: transparent !important;
  }
  .contactBtn {
    font-weight: 400 !important;
    line-height: 28px;
    font-size: 16px !important;
    color: #fff !important;
    padding: 16px 48px;
    border-radius: 41px;
    border: 1px solid #fff;
  }
  .navbarColor {
    background-color: #1c1e53;
  }
}

/* for Extra Extra Large  devices responsive end */
