.featurePlanCardMain {
  padding: 64px 48px 64px 48px;
  border: 0;
  background: #f4f6fc;
  transition: 0.5s ease-in-out;
  height: 100%;
}
.featureCardHeadingMoney {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.featureMiddleHeading {
  padding: 20px 0 9px;
}
.featureCardItems {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.featureButtonParent {
  text-align: center;
}
.featureButton {
  padding: 16px 78px;
  border-radius: 41px;
  background: #282938;
  color: #fff;
  white-space: nowrap;
  transition: 0.5s ease-in-out;
}
.featureIcon {
  padding-right: 2px;
  color: #97daad;
  font-size: 20px;
}

.featurePlanCardMain {
  transition: 0.5s ease-in-out;
}
.featurePlanCardMain:hover .featureButton {
  background: #fcd980;
  color: #1c1e53 !important;
}
.featurePlanCardMain:hover {
  background: #1c1e53;
}
.featurePlanCardMain:hover .featureIcon {
  color: #97daad !important;
}
.featurePlanCardMain:hover .featureCardHeadingMoney * {
  color: #fff;
}
.featurePlanCardMain:hover .featureMiddleHeading {
  color: #fff;
}
.featurePlanCardMain:hover .featureItem {
  color: #fff;
}
.featurePlanCardMain:hover .pragraphOne {
  color: #fcd980;
}
.featurePlanCardMain:hover .fpp {
  color: #fff;
}

.featurePlanCardMain * {
  transition: 0.5s ease-in-out;
}

/* responsive for extra small devices start */

@media (min-width: 320px) and (max-width: 575.99px) {
  .pragraphOne {
    font-size: 14px !important;
    white-space: nowrap;
  }
  .featureItem {
    white-space: nowrap;
  }

  .featurePlanCardMain {
    padding: 55px 0px;
    background-color: #1c1e53;
  }
  .featurePlanCardMain * {
    color: #fff;
  }
  .featurePlanCardMain .pragraphOne {
    color: #fcd980 !important;
  }
  .featurePlanCardMain .featureButton {
    background: #fcd980;
    color: #282938;
  }
  .featureButtonParent {
    text-align: start;
  }
}

/* responsive for extra small devices end */

/* responsive for  small devices start */

@media (min-width: 576px) and (max-width: 767.99px) {
  .pragraphOne {
    font-size: 14px !important;
    white-space: nowrap;
  }
  .featureItem {
    white-space: nowrap;
  }

  .featurePlanCardMain {
    /* padding: 55px 0px; */
    background-color: #1c1e53;
  }
  .featurePlanCardMain * {
    color: #fff;
  }
  .featurePlanCardMain .pragraphOne {
    color: #fcd980 !important;
  }
  .featurePlanCardMain .featureButton {
    background: #fcd980;
    color: #282938;
  }
  .featureButtonParent {
    text-align: start;
  }
}

/* responsive for  small devices end */
/* responsive for  medium devices start */

@media (min-width: 768px) and (max-width: 991.99px) {
  .pragraphOne {
    font-size: 14px !important;
    white-space: nowrap;
  }
  .featureItem {
    white-space: nowrap;
  }

  .featurePlanCardMain {
    background-color: #1c1e53;
  }
  .featurePlanCardMain * {
    color: #fff;
  }
  .featurePlanCardMain .pragraphOne {
    color: #fcd980 !important;
  }
  .featurePlanCardMain .featureButton {
    background: #fcd980;
    color: #282938;
  }
  .featureButtonParent {
    text-align: start;
  }
}

/* responsive for  medium devices end */
/* responsive for  large devices start */

@media (min-width: 992px) and (max-width: 1199.99px) {
  .pragraphOne {
    
    white-space: nowrap;
  }
  .featureItem {
    white-space: nowrap;
  }

  .featurePlanCardMain {
    padding:55px 0;

  }
}

/* responsive for  large devices end */
