.building {
  margin: 50px 0 128px;
  /* background-color: rgba(28, 30, 83, 0.504); */
}
.buldingImage {
  width: 100%;
}
.buildingOverlayMain {
  position: relative;
  overflow: hidden;
}
.buldingChildOverlay {
  position: absolute;
  top: 0;
  left: 105%;
  padding: 96px;
  background: linear-gradient(rgba(28, 30, 83, 0.504), #1c1e53);
  height: 100%;
  width: 100%;
  transition: 0.9s ease-in-out;
}
.buildingOverlayMain:hover .buldingChildOverlay {
  left: 0;
}

.buildingHeading {
  color: #fff;
  padding-bottom: 24px;
}
.buildingPragraph {
  color: #fff;
}

.buildingInput {
  padding: 96px 96px 48px;
  background-color: #1c1e53;
}
.commonInputCss::placeholder {
  color: #f4f6fc9a;
}
.buildingInputGroup {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.commonInputCss {
  background: transparent;
  padding: 18px 32px;
  width: 100%;
  border: 1px solid #f4f6fc;
  border-radius: 8px;
  color: #fff;
}
.buildingInputPragraph {
  padding: 16px 0 40px;
  color: #fff;
}
.buildingInputHeading {
  color: #fff;
}
.buildingButton {
  padding: 16px 0px;
  border: 1px solid #fcd980;
  background-color: #fcd980;
  width: 100%;
  text-align: center;
  border-radius: 41px;
  margin: 39px 0 28px;
  color: #1b1c2b;
  transition: 0.3s ease-in-out;
}
.buildingGutter {
  --bs-gutter-x: 0;
}

.buildingButton:hover {
  background-color: transparent;
  border-color: #fff;
  background: #fff;
}

.buildingIcon {
  color: #fff;
  font-size: 24px;
}
.iconEdit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 7px;
}

/* responsive for extra  small devices  start */

@media (min-width: 320px) and (max-width: 575.99px) {
  /* building bannar image related css */
  .buldingChildOverlay {
    left: 0;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .buildingHeading {
    font-size: 25px;
    line-height: 35px;
  }
  /* input field related css  */
  .buildingInput {
    padding: 0px 20px 35px;
  }
  .buildingButton:hover {
    background-color: #fcd980;
    color: #1b1c2b;
  }
}
/* responsive for extra  small devices  end */
/* responsive for   small devices  start */

@media (min-width: 576px) and (max-width: 767.99px) {
  /* building bannar image related css */
  .buldingChildOverlay {
    left: 0;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /* input field related css  */
  .buildingInput {
    padding: 0px 20px 35px;
  }
  .buildingButton:hover {
    background-color: #fcd980;
    color: #1b1c2b;
  }
}
/* responsive for   small devices  end */
/* responsive for  medium devices  start */

@media (min-width: 768px) and (max-width: 991.99px) {
  /* building bannar image related css */
  .buldingChildOverlay {
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /* input field related css  */
  .buildingInput {
    padding: 0px 96px 48px;
  }
  .buildingButton:hover {
    background-color: #fcd980;
    color: #1b1c2b;
  }
}
/* responsive for medium devices  end */
/* responsive for large devices  start */
@media (min-width: 992px) and (max-width: 1199.99px) {
  /* building bannar image related css */
  .buldingImage {
    height: 100%;
  }
  .buildingOverlayMain {
    height: 100%;
  }
  .buldingChildOverlay {
    padding-left: 50px;
    padding-top: 324px;
  }

  /* input field related css  */
  .buildingHeading {
    font-size: 40px;
    line-height: 60px;
  }
}
/* responsive for large devices  end */
/* responsive for extra  large  devices  end */
@media (min-width: 1200px) and (max-width: 1399.99px) {
  /* building bannar image related css */
  .buldingImage {
    height: 100%;
  }
  .buildingOverlayMain {
    height: 100%;
  }
  .buldingChildOverlay {
    padding: 190px 96px 0;
  }

  /* input field related css  */
  .buildingHeading {
    font-size: 48px;
    line-height: 60px;
  }
}
/* responsive for extra large devices  end */
/* responsive for extra extra  large  devices  end */
@media (min-width: 1400px) {
  /* building bannar image related css */
  .buldingImage {
    height: 100%;
  }
  .buildingOverlayMain {
    height: 100%;
  }

  /* input field related css  */
}
/* responsive for extra extra large devices  end */
