.aboutDesign {
  padding: 128px 0;
}
.aboutDesignHeading {
  padding: 9px 0 31px;
}
.aboutDesignImage {
  width: 100%;
}

/* responsive for extra small devices start */

@media (min-width: 320px) and (max-width: 575.99px) {
  /* padding update */
  .aboutDesign {
    padding: 85px 0 30px;
  }
  /* heading  */
  .aboutDesignHeading {
    padding: 9px 0 22px;
    font-size: 31px;
    line-height: 47px;
  }
  /* pragraph */
  .pragraphOther {
    padding-bottom: 25px;
  }
}

/* responsive for extra small devices end */
/* responsive for  small devices start */

@media (min-width: 576px) and (max-width: 767.99px) {
  /* padding update */
  .aboutDesign {
    padding: 85px 0 40px;
  }
  /* heading  */
  .aboutDesignHeading {
    padding: 9px 0 22px;
    font-size: 35px;
    line-height: 47px;
  }
  /* pragraph */
  .pragraphOther {
    padding-bottom: 25px;
  }
}

/* responsive for  small devices end */
/* responsive for  medium devices start */

@media (min-width: 768px) and (max-width: 991.99px) {
  /* padding update */
  .aboutDesign {
    padding: 85px 0 60px;
  }
  /* heading  */
  .aboutDesignHeading {
    padding: 9px 0 22px;
    font-size: 45px;
    line-height: 47px;
  }
  /* pragraph */
  .pragraphOther {
    padding-bottom: 25px;
  }
}

/* responsive for  medium devices end */
/* responsive for  large devices start */

@media (min-width: 992px) and (max-width: 1199.99px) {
  /* padding update */

  /* heading  */
  .aboutDesignHeading {
    padding: 9px 0 31px;
    font-size: 45px;
    line-height: 55px;
  }

  /* pragraph */

  /* image responsive */
  .aboutDesignImage {
    height: 100%;
  }
}

/* responsive for  large devices end */
/* responsive for  extra large devices start */

@media (min-width: 1200px) and (max-width: 1399.99px) {
  .aboutDesignImage {
    height: 100%;
  }
}

/* responsive for  extra large devices end */
/* responsive for extra extra large devices start */

@media (min-width: 1400px)  {
  .aboutDesignImage {
    height: 100%;
  }
}

/* responsive for extra  extra large devices end */
