.readBlogUx{
  padding: 128px 0 96px;
}
.readBlogUxTopPart{
  text-align: center;
}
.readBlogImg{
  padding: 48px 0 80px;
}
.readBlogUxTextPartMiddle{
  padding: 40px 0 32px;
}
.readBlogUxTextPartMiddleChildPragraph{
  padding: 24px 0 32px;
}
.readBlogUxTextPartLast{
  padding: 56px 0 0 ;
}