.blogStudioMain{
  padding: 128px 0;
}
.blogStudioTopPart{
  text-align: center;
 
}
.blogBannarImg{
  padding: 32px 0 48px;
}
.blogStudioLastPart{
  text-align: center;
}
.blogLastBtn{
  padding-top: 16px;

}