.commonCardMain {
  padding: 46px;
  background: #fff;
}

.cardHeading {
  padding: 23px 0 12px;
}
.commonCardMain {
  height: 100%;
}

/* responsive for exatra small devices start */

@media (min-width: 320px) and (max-width: 575.99px) {
  .commonCardMainPreant {
    height: 100%;
  }
}

/* responsive for exatra small devices end */
/* responsive for  small devices start */

@media (min-width: 576px) and (max-width: 767.99px) {
  .commonCardMainPreant {
    height: 100%;
  }
}

/* responsive for  small devices end */
/* responsive for  medium devices start */

@media (min-width: 768px) and (max-width: 991.99px) {
  .commonCardMainPreant {
    height: 100%;
  }
}

/* responsive for  medium devices end */
/* responsive for  large devices start */

@media (min-width: 992px) and (max-width: 1199.99px) {
  .commonCardMainPreant {
    height: 405px;
  }
}

/* responsive for  large devices end */
/* responsive for extra large devices start */

@media (min-width:1200px) and (max-width: 1399.99px) {
  .commonCardMainPreant {
    height: 350px;
  }
}

/* responsive for extra large devices end */
/* responsive for extra large devices start */

@media (min-width:1400px){
  .commonCardMainPreant {
    height: 100%;
  }
}

/* responsive for extra large devices end */
