.readslideMain ul {
  display: flex;
  gap: 85px;
}
.readslideMain ul li:nth-child(1) {
  color: #2405f2;
}
.readslideMain {
  padding: 24px 0;
  border: 1px solid rgba(40, 41, 56, 0.293);
  border-left: 0;
  border-right: 0;
}

/* responsive for extra small devices start */

@media (min-width: 320px) and (max-width: 575.99px) {
  .readslideMain ul {
    gap: 35px;
    flex-wrap: wrap;
    align-items: center;
  }
}

/* responsive for extra small devices end */
/* responsive for  small devices start */

@media (min-width: 576px) and (max-width: 767.99px) {
  .readslideMain ul {
    gap: 35px;
    flex-wrap: wrap;
    align-items: center;
  }
}

/* responsive for  small devices end */
/* responsive for  medium devices start */

@media (min-width: 768px) and (max-width: 991.99px) {
  .readslideMain ul {
    gap: 35px;
    flex-wrap: wrap;
    align-items: center;
  }
}

/* responsive for  medium devices end */
/* responsive for  large devices start */

@media (min-width: 992px) and (max-width: 1199.99px) {
  .readslideMain ul {
    gap: 35px;
    flex-wrap: wrap;
    align-items: center;
  }
}

/* responsive for  large devices end */
/* responsive for extra  large devices start */

@media (min-width: 1200px) and (max-width: 1399.99px) {
  .readslideMain ul {
    gap: 60px;
    flex-wrap: wrap;
    align-items: center;
  }
}

/* responsive for extra large devices end */
