.clientAbout {
  padding: 128px 0;
}
.slideImg {
  width: 100%;
  text-align: end;
}

.right:hover {
  color: #fff;
  background-color: #5239fa;
}
.left:hover {
  color: #fff;
  background-color: #5239fa;
}
.right,
.left {
  position: absolute;
  z-index: 5;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transition: 0.3s ease-in-out;
}

.right {
  bottom: 0;
  right: 0;
}
.left {
  bottom: 0;
  right: 80px;
}
